@font-face {
   font-family: 'Roboto';
   src: url('/font/Roboto-Regular.ttf'), format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
   src: url('/font/Roboto-Bold.ttf'), format('truetype');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
   src: url('/font/Roboto-Medium.ttf'), format('truetype');
   font-weight: 500;
   font-style: normal;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

:root {
   --primary-color: #4848a2;
   --primary-filter: invert(31%) sepia(47%) saturate(1160%) hue-rotate(209deg)
      brightness(89%) contrast(89%);
   --secondary-color: #fff;
   --secondary-filter: brightness(0) invert(1);
   --tertiary-filter: invert(70%) sepia(88%) saturate(506%) hue-rotate(192deg)
      brightness(95%) contrast(83%);

   --tertiary-color: color-mix(in srgb, var(--primary-color) 30%, white);
   /* #9e9dd3; */
}

#root {
   display: flex;
}

main {
   width: 100%;
   padding: 20px;
   display: flex;
   justify-content: center;
   background-color: white;
   border-radius: 25px;
   overflow-y: scroll;
}

a {
   text-decoration: none;
}

.css-t3ipsp-control {
   border: none !important;
   box-shadow: none !important;
}
