@font-face {
   font-family: 'Roboto';
   src: url('../public/font/Roboto-Regular.ttf'), format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
   src: url('../public/font/Roboto-Bold.ttf'), format('truetype');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
   src: url('../public/font/Roboto-Medium.ttf'), format('truetype');
   font-weight: 500;
   font-style: normal;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

#root {
   display: flex;
}

main {
   width: 100%;
   padding: 30px 20px;
   display: flex;
   justify-content: center;
   background-color: white;
   border-radius: 25px;
   overflow-y: scroll;
}

a {
   text-decoration: none;
}
