* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

#root {
   display: flex;
}

main {
   width: 100%;
   padding: 20px;
   background-color: white;
   border-radius: 25px;
   overflow-y: scroll;
}

a {
   text-decoration: none;
}
